header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        ul.header__list
            li.list
                a(href=routes.join) JOIN
            li.list
                a(href=routes.login) LOGIN