.social_login
    button.github_btn
        span 
            i.fab.fa-github-square
        |Continue with Github
    button.facebook_btn
        span 
            i.fab.fa-facebook-square
        |Continue with Facebook